body {                                                                                                                        
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0;                                                                                        
}

.main{
  height: 100vh;
  display: flex;
}

.main__left{
  flex: 0.0;
  display: flex;
  flex-direction: column;
}
.main__right{
  flex: 0.2;
}

.main__videos{
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video{
    width: 300px;
    height: 400px;
    object-fit: cover;
}